/* .video-responsive {
    position: relative;
    height: 100%;
  }
  
  .video-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .vid-container {
      width: 80vw;
      height: 85vh;
      display: block;
      text-align: center;
  } */