@media only screen and (max-width: 768px) {

    #first-box{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        border-radius: 30% 0 40% 0;
        background-color: #8f54a015;
        justify-content: space-evenly;
    }
    .slogan-container{
        width: 80%;
        letter-spacing: 0.1rem;
        line-height: 3.3rem;
    }
    .slogan-container h4{
        font-size: 2.5rem;
    }
    .sub-slogan-container{
        margin-left: 10px;
        width: 80%;
        color:#8f54a0;
        letter-spacing: 0.02rem;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .quickgo-button-container{
        width: 60%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 0; 
        margin-left: 4rem;
    }
    .quickgo-button-hugger{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .quickgo-btn{
        width: 125px;
        height: 37px;
        font-weight: 100;
        color: white;
        border-radius: 10px;
        background-color: rgb(73, 73, 73);
        box-shadow: inset -1px -1px 5px 8px rgba(255, 255, 255, 0.081);
        cursor: pointer;
        font-size: 0.72rem;
    }
    .social-link-container{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border: none;
        padding: 7px;
        box-shadow: 7px 7px 1px rgba(41, 41, 41, 0.341);
        border-radius: 30px;
        background-color: rgb(57, 57, 57);
    }
    .ace-logo{
        position: absolute;
        width: 35rem;
        height: 35rem;
        right: -5rem;
        top: 10rem;
        opacity: 0.1;
        z-index: -2;
    }
    .social-link-hugger{
        width: 2.0rem;
        height: 2.0rem;
        border-radius: 50%;
        background-color: rgb(40, 40, 40);
        box-shadow:  2.5px 2.5px 1px #ac75bb; 
        cursor:pointer;
        padding-top: 6px;
        padding-left: 5px;
    }
    .telegram{
        width: 18px;
        height: 18px;
        cursor:pointer;
    }
    .twitter{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        cursor:pointer;
    }
    .reddit{
        width: 18px;
        height: 18px;
        margin-left: 1px;
        cursor:pointer;
    }
    .instagram{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        cursor:pointer;
    }
    .youtube{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        cursor:pointer;
    }
    .linkedin{
        width: 18px;
        height: 18px;
        margin-right: 5px;
        cursor:pointer;
    }
    .github{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        cursor:pointer;
    }
    
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #second-box{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color:#8f54a0;
        text-align: center;
    }
    .wave4{
        position: absolute;
        z-index: 0;
        bottom: 0;
        width: 100%;
    }
    .ticker-opacity{
        font-size: 15rem;
        opacity: 0.2;
    }
    .poker-chips{
        position: absolute;
        width: 10rem;
        height: 10rem;
        opacity: 0.2;
        z-index: 0;
        top: 11rem;
        right: 25rem;
    }
    .why-donk{

        width: 80px;
        text-align: center;
        position: relative;
        bottom: 90px;
        font-weight: 400;
        margin-right: 8rem;
    }
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #third-box{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .wave2{
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
    }
    .wave5{
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
    }
    .why-container{
        width: 18rem;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border: none;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
        border-radius: 20px;
        background-color: rgb(57, 57, 57);
        z-index: 0;
        margin-top: 25rem;
        margin-bottom: 20rem;
    }
    .card-chips{
        position: absolute;
        width: 40rem;
        height: 40rem;
        opacity: 0.4;
        bottom: 30rem;
        left: 0rem;
        z-index: 0;
    }
    .right-of-third-box-hugger{
        position: absolute;
        width: 20rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        bottom: 16rem;
        font-size: 0.8rem;
    }
    .right-of-third-box-title-container{
        width: 100%;
        height: 5.5rem;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .getSwap-btn{
        position: absolute;
        bottom: 14rem;
        right: 11rem;
        background: #b695d3;
        padding: 10px 5px;
        width: 180px;
        border: none;
        font-size: 0.8rem;
        border-radius: 20px;
        color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.396);
        cursor: pointer;
        z-index: 1;
    }
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #fourth-box{
        position: relative;
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color:#8f54a0;
        text-align: center;
    }
    .blob2{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    }
    .left-of-fourth-box{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .tokenomics-title{
        position: absolute;
        font-size: 4.5rem;
        font-weight: 700;
        color:#8f54a0;
        top: 18rem;
        left: 7rem;
    }
    .tokenomics-title-opacity{
        position: absolute;
        font-size: 5.5rem;
        opacity: 0.1;
        top: 16rem;
        left: 5rem;
        font-weight: 200;
        z-index: -1;
        margin-left: 2rem;
    }
    .tokenomics-content-container{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 5rem;
        line-height: 2;
        letter-spacing: 2px;
        top: 20rem;
        left: 0rem;
    }
    .fourth-box-slogan-headline-overlay{
        position: relative;
        opacity: 0.1;
        z-index: 0;
        top: 6.5rem;
        right: -1rem;
    }
    .fourth-box-slogan-container{
        position: absolute;
        text-align: center;
        width: 25rem;
        height: 20rem;
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        align-items: left;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 1.2px;
        line-height: 1.3;
        color: white;
        z-index: 1;
        top: -8rem;
        right: -5rem;
    }
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #security-section{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }
    .left-side-of-security-section{
        width: 50%;
        height: 100vh;
    }
    .strongDonkey{
        position: absolute;
        width: 11rem;
        height: 11rem;
        top: 20rem;
        left: 5rem;
        animation: logomove 4s linear infinite;
    }
    .blob3{
        position: absolute;
        z-index: -1;
        bottom: 33rem;
        right: 12rem;
        top: 14rem;
        width: 100%;
        opacity: 0.5;
    }
    .safe-secure-container{
        width: 40rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .safe-secure-title{
        font-size: 1.8rem;
        font-weight: 550;
        color:#8f54a0;
    }
    .safe-secure-content-hugger{
        width: 25rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2;
        margin-right: 7.5rem;
    }
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #fifth-box{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#8f54a0;
        text-align: center;
    }
    .casino-section-title{
        margin-top: 15rem;;
        color: white;
        font-size: 2rem;
    }
    .casino-end-title{
        margin-top: 15rem;;
        margin-top: 10px;
        font-size: 5rem;
    }
    .video-hugger{
        width: 40rem;
        height: 23rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
        border-radius: 10px;
        background-color: rgb(40, 40, 40);
        z-index: 1;
    }
    /*=====================================*/
    /*=====================================*/
    /*=====================================*/
    #sixth-box{
        position: relative;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color:#8f54a0;
        text-align: center;
    }
    .team-header-container{
        width: 25%;
        font-size: 1.7rem;
        font-weight: 700;
        color:white;
    }
    .profile-hugger{
        margin-top: 1rem;
        width: 13rem;
        height:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px;
    }
    .profile-pic-container{
        width: 7rem;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border: none;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
        border-radius: 50%;
        background-color: rgb(57, 57, 57);
    }
    .dev-pics{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }
    .dev-content-container{
        width: 100%;
        height: 30rem;
        display: flex;
        font-size: 11px;
        line-height: 1.3;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
        border-radius: 10px;
        background-color: rgb(57, 57, 57);
        padding: 10px;
        z-index: 1;
    }
    .dev-content-container p{

        font-size: 0.5rem;
    }
    
}