* {
    padding: 0%;
    margin: 0%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #fff
}

*::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px
}

*::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px
}

.heading-two {
    color: #fff;
    font-family: "Bungee Inline", cursive;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.heading-three {
    color: #9d70c3;
    font-family: "Bungee Inline", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;

}

.heading-four {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 3rem
}

p {
    color: #fff;
    font-size: large;
    line-height: 2rem;
    font-family: "Poppins", sans-serif
}

.col {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto
}

.Header {
    position: relative;
    max-height: 20vh;
    padding: 2vh;
    width: 100vw;

    display: grid;
    grid-template-areas: "nav";

    /* Cosmetics */
    background-color: #8e55bd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.Nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.Nav a:hover {
    transform: scale(1.1);
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.Nav button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.Nav button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
}

.Burger:active {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .Header {
        grid-template-areas: "logo burger""nav nav";
    }

    .Nav {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        grid-row-gap: 20px;

        padding: 30px 0 30px;
        background: rgba(40, 44, 47, 0.95);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Burger {
        display: inline;
    }
}

.NavAnimation-enter {
    opacity: 0.5;
    transform: scale(0.5);
}

.NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
}

.NavAnimation-exit {
    opacity: 1;
}

.NavAnimation-exit-active {
    opacity: 0.5;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
}


.one {
    padding-top: 20vh;
    width: 100vw;
    min-height: 50vh;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    gap: 7rem;
    background: #9d70c3;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(158, 112, 195, 0.4430147059)), color-stop(40%, rgba(158, 112, 195, 0.7970763305)), color-stop(90%, #9e70c3));
    background: -webkit-linear-gradient(top, rgba(158, 112, 195, 0.4430147059) 0%, rgba(158, 112, 195, 0.7970763305) 40%, #9e70c3 90%);
    background: -o-linear-gradient(top, rgba(158, 112, 195, 0.4430147059) 0%, rgba(158, 112, 195, 0.7970763305) 40%, #9e70c3 90%);
    background: linear-gradient(180deg, rgba(158, 112, 195, 0.4430147059) 0%, rgba(158, 112, 195, 0.7970763305) 40%, #9e70c3 90%)
}

.one .hero {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap
}

.one .hero img {
    width: 100%;
    max-width: 250px
}

.one .hero h1 {
    font-family: "Bungee Inline", cursive;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem
}

@media all and (max-width: 350px) {
    .one .hero h1 {
        font-size: 2rem
    }
}

.one .arrow {
    font-size: 2.5rem
}

.two {
    padding-top: 100px;
    width: 100vw;
    padding-bottom: 50px;
    background-color: #8e55bd;
    word-wrap: break-word
}

.two .sect-two h2 {
    text-align: center
}

.two .sect-two .sect-right {
    padding: 50px 0
}

.two .sect-two .sect-right .sect-right-one {
    text-align: center
}

.two .sect-two .sect-right .sect-right-one h2 {
    line-height: 3rem
}

.two .sect-two .sect-right .sect-right-one h3 {
    color: #fff;
    padding: 15px 0
}

.two .sect-two .sect-right .sect-right-one img {
    width: 100%;
    max-width: 250px
}

.three {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #9d70c3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center
}

.three h3 {
    color: #fff;
    line-height: 3rem
}

.three .sect-three .sect-three-top {
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 2.5rem
}

.three .sect-three .sect-three-top img {
    width: 100%;
    max-width: 75px
}

.three .sect-three .sect-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 3rem
}

.three .sect-three .sect-bottom .sect-three-left img {
    width: 100%;
    max-width: 435px
}

.three .sect-three .sect-bottom .sect-three-right {
    gap: 2.5rem
}

.three .sect-three .sect-bottom .sect-three-right img {
    width: 100%
}

.four {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 25px;
    background-color: #9d70c3
}

.four h2 {
    text-align: center
}

.four .sect-four {
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    gap: 5rem
}

.four .sect-four h3 {
    color: #fff;
    line-height: 3rem
}

.four .sect-four ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 1.5rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600
}

.four .sect-four .video-box-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 2.5rem
}

.four .sect-four .video-box-one video {
    width: 100%;
    max-width: 500px
}

.four .sect-four .video-box-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    gap: 2.5rem
}

.four .sect-four .video-box-two video {
    width: 100%;
    max-width: 400px
}

.four .video-box-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap
}

.four .video-box-three h3 {
    text-align: center;
    color: #fff
}

.four .video-box-three video {
    width: 100%;
    max-width: 800px
}

.five {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: #8e55bd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.five h2 {
    padding: 50px 0
}

.five h3 {
    color: #fff;
    line-height: 3rem
}

.five i {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer
}

footer {
    width: 100vw;
    min-height: 20vh;
    background-color: #9d70c3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

footer section {
    display: grid;
    grid-template-columns: auto auto
}

footer section i {
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer
}

footer section img {
    width: 100%;
    max-width: 25px;
    cursor: pointer
}

footer section h4 {
    color: #cacaca;
    font-size: 1.3rem
}

footer section .social-item-one ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

footer section .social-item-two ul {
    list-style-type: none
}

footer section .social-item-two ul li {
    color: #fff;
    font-family: "Poppins", sans-serif
}

footer section .social-item-two ul li a {
    text-decoration: none;
    color: #fff
}

@media all and (max-width: 450px) {
    footer section {
        grid-template-columns: auto;
        padding: 50px 0;
        gap: 50px
    }
}

.copyrights {
    background-color: #9d70c3;
    text-align: center;
    padding: 10px 0
}

.copyrights p {
    font-size: 1rem
}

.video-responsive {
   width: 50%;
}

.video-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
}