.vid-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  background: #232526; 
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526); 
  overflow: scroll;
}
.youtube-hugger{
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casino-vid-tab{
  width: 28rem;
  height: 35rem;
  cursor: pointer;
  z-index: 1;
}

.layered-wave-one{
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  
  }
.layered-wave-two{
  position: absolute;
width: 100%;
z-index: 0;
bottom: 0;
}

@media only screen and (max-width: 500px) {
  .vid-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526); 
    overflow: scroll;
  }
  .youtube-hugger{
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .casino-vid-tab{
    width: 18rem;
    height: 25rem;
    cursor: pointer;
    z-index: 1;
  }


}